@{
	Layout = null;
}

<h1>Home Page</h1>
<p>This project is deliberately left blanks as the main focus is on Encrypting data in and out of the backoffice.</p>
<p>Umbraco Username - mylogin@me.com</p>
<p>Umbraco Password - MyPassword</p>

@{Html.RenderAction("Index","PrivateInfoSurface");}