<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT example ANY>
<!ATTLIST example id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1062" key="80e18582-133f-4772-b6f9-8197405a412e" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-11-23T22:35:30" updateDate="2017-11-23T22:35:30" nodeName="Index" urlName="index" path="-1,1062" isDoc="" nodeType="1061" creatorName="George" writerName="George" writerID="0" template="1060" nodeTypeAlias="home" isPublished="true">
    <example id="1065" key="0fbdf0a3-8225-4781-bca8-18105bf580c7" parentID="1062" level="2" creatorID="0" sortOrder="0" createDate="2017-11-23T22:42:37" updateDate="2017-11-23T22:42:37" nodeName="Example" urlName="example" path="-1,1062,1065" isDoc="" nodeType="1064" creatorName="George" writerName="George" writerID="0" template="0" nodeTypeAlias="example" isPublished="true">
      <example id="1076" key="0c439ecb-4110-4c74-8b1a-6dff3b2062f8" parentID="1065" level="3" creatorID="0" sortOrder="0" createDate="2017-11-24T10:27:49" updateDate="2017-11-24T10:36:01" nodeName="Page Title" urlName="page-title" path="-1,1062,1065,1076" isDoc="" nodeType="1064" creatorName="George" writerName="George" writerID="0" template="0" nodeTypeAlias="example" isPublished="true">
        <firstName><![CDATA[CtISoROEhyiJHLeGpUPQAv9m+8Ltzfgg+laRun+IujA9G+XPLm16IsA/Wu3pQYGDafNo9Vo/z2mHi0W9tX1S9FxZB1QqkC9pcXnVCL4dqhYykI0CjwoVaEd6fCfYGVja+qXJu8BoJEVg4VosSxUv4ifCq60DdPsXmZoIh080bgESsdf+3EZVcAuaFY/jD78c7uOpgN7+cGkkWvfV0dzTVETybPwjKmhbd2UBSZ/CNRmzH6dxAp2qT4Gvm1NGOXVQ/OFp2qNn0SRLFfpLxlfCfvro/slJQG7b6iEn1GrzzB+M7T8ERpr/8lAe4aNRYYG8LWRxm0Y30R6l7FU2W3hEOw==]]></firstName>
      </example>
    </example>
  </home>
</root>